:root {
	--primary-color: #2ecc71;
	--secondary-color: #27ae60;
	--text-color: #333;
	--background-color: #0D2B3E;
	--overlay-color: rgba(39, 37, 37, 0.4);
 }
 
 *:focus {
	outline: 2px solid blue;
 }