.event-details__image {
	max-width: 100%;
	height: 250px;
	object-fit: cover;
	object-fit: cover;
	object-position: center;
	transition: 200ms transform ease-in-out;
	border-radius: 10px;
 }
 
 img:hover {
	transform: scale(1.075);
 }


 .event-details__map {
	height: 300px;
	z-index: 100;
 }

 