.event-search {
	position: relative;
	height: 100vh;
	background: url('/__app/assets/images/artist.jpg') no-repeat center center;
	background-size: cover;
	background-position: center bottom 20px;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	color: rgb(0, 0, 0);
}

.event-search__overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(39, 37, 37, 0.4);
}

#event-search__title {

	position: relative;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 40px;
	text-align: center;
	background-color: #333;
	padding: 20px;
	color: rgb(255, 255, 255);
	letter-spacing: 1px;
}

.event-search__title-highlight {
	text-decoration: underline;
}

.event-search__title-highlight::before {
	content: "";
	display: inline-block;
	width: 50px;
	height: 50px;
	margin-right: 10px;
	background: url('/__app/assets/images/skyline.svg') no-repeat center center;
	background-position: 0 10px;
	background-size: contain;
	text-decoration: underline;
 }
 
 #event-search__title:hover {
	color: #ff9900;
	transition: color 0.3s ease-in-out;
 }
 
.event-search__form {
	position: relative;
	top: 50%;
	left:50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	height: 100px;
	margin-bottom: 40px;
}

.event-search__form-input {
	margin-top: 30px auto;
	margin-top: 30px auto;
	width: 70%;
	height: 30px;
	padding: 10px;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	margin-right: 25px;
}

#event-search__button {
	width: 15%;
	height: 50px;
	padding: 10px;
	font-size: 18px;
	background-color: #333;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

#event-search__button:hover {
	background-color: #fff;
	color: #333;
}
