.event-search {
	position: relative;
	height: 100vh;
	background: url('/__app/assets/images/artist.jpg') no-repeat center center;
	background-size: cover;
	background-position: center bottom 20px;
	margin: 0;
	padding: 0;
	font-family: var(--tertiary-font);
	font-size: 24px;
	color: var(--text-color);
	/* background-color: var(--background-color); */
}

.event-search__overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 97%;
	width: 100%;
	background-color: var(--overlay-color);
}

#event-search__title {
	position: relative;
	top: 390px;
	font-family: var(--secondary-font);
	font-size: 58px;
	text-align: center;
	/* background-color: #333; */
	padding: 10px;
	color:rgb(173, 159, 159);
	letter-spacing: 1px;
}

.event-search__title-highlight {
	text-decoration: underline;
	/* font-size: 60px; */
}


.event-search__title-highlight::before {
	content: "";
	display: inline-block;
	margin-right: 10px;
 }
 
 #event-search__title:hover {
	color: #fff;
	transition: color 0.3s ease-in-out;
	
 }
.event-search__form-container {
	position: relative;
	top: 450px;
	/* display: flex;
  	flex-direction: column;	 */
 }

 .event-search__form-container label {
	position: absolute;
	display: block;
 	margin-bottom: 45px;;
 } 
 
.event-search__form {
	position: relative;
	top: 50%;
	left:55%;
	transform: translate(-50%, -50%);
	width: 60%;
} 

.event-search__form-input {
	margin-top: 30px auto;
	margin-top: 30px auto;
	width: 70%;
	height: 40px;
	padding: 10px;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	margin-right: 25px;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
 }

#event-search__button {
	width: 20%;
	height: 60px;
	padding: 20px;
	font-size: 18px;
	background-color: var(--primary-color);
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

#event-search__button:hover {
	background-color: var(--secondary-color);
	color: #333;
}


@media screen and (max-width: 768px) {
	#event-search__title {
		font-size: 30px;
		padding: 10px;
	}

	.event-search__title-highlight::before {
		width: 40px;
		height: 40px;
		margin-right: 5px;
	}

	.event-search__form {
		width: 90%;
	}

	.event-search__form-input {
		margin-right: 0;
		width: 60%;
	}

	#event-search__button {
		width: 25%;
		font-size: 16px;
	}

	.event-search__form,
	#results-container {
		flex-direction: column;
	}

	.event-search__form-input,
	#event-search__button {
		margin: 10px 0px
	}

	#event-search__button:hover {
		background-color: #333;
		color: #fff;
	}
}

.moving-text {
	position: absolute;
	right: 0;
	top: 830px;
	transform: translateY(-50%);
	font-size: 34px;
	color: #000;
	animation: move-left 5s linear infinite;
 }
 
 .moving-text img {
	width: 200px;
	transform-origin: right center;
 }
 
 @keyframes move-left {
	0% { right: 0; transform: translateX(0%); }
	100% { right: 100%; transform: translateX(-100%); }
 }

 .logo-ticket img {
	width: 30px;
 }